<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
</head>
<body>
	<div class="row" id="toprow">
		<div class="large-4 columns">
			<div class="large-2 text-left columns">
				<div class="hp-menu">About</div>
			</div>
			<div class="large-4 text-center columns">
			<div class="hp-menu">How It Works</div>
			</div>
			<div class="large-4 text-left end columns">
			<div class="hp-menu">Getting Started</div>
			</div>
		</div>
		<HR WIDTH="100%" ALIGN="RIGHT">
	</div>
	<div class="row" id="headerrow">
		<div class="small-4 large-12 text-center columns">
			<h1 class="hp-header">Growing</h1>
			<%= image_tag 'tree.png', :class => "hp-image"  %>
			<h1 class="hp-header">Together</h1>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-12 large-centered columns">
			<div class="small-6 large-2 large-offset-3 columns">
				<div class="hp-section">
					<%= image_tag 'head.gif', :class => "redditimage"  %>
				</div>
			</div>
			<div class="small-6 large-2 columns">
				<div class="hp-section">
					<%= image_tag 'heart.gif', :class => "redditimage"  %>
				</div>
			</div>
			<div class="small-6 large-2 end columns">
				<div class="hp-section">
					<%= image_tag 'hand.gif', :class => "redditimage"  %>
				</div>
			</div>
		</div>
	</div>
</body>

<footer>	
</footer>


</html>