<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
</head>
<body>
	<div class="row" id="headerrow">
		<div class="large-9 large-offset-3 large-centered columns">
			<h1 class="hp-header">Growing</h1>
			<%= image_tag 'tree.png', :class => "hp-image"  %>
			<h1 class="hp-header">Together</h1>
		</div>
	</div>
	<div class="row">
		<div class="large-12 large-centered columns">
			<div class="large-2 large-offset-3 columns">
				<div class="hp-section">
					<%= image_tag 'head.gif', :class => "redditimage"  %>
				</div>
			</div>
			<div class="large-2 columns">
				<div class="hp-section">
					<%= image_tag 'heart.gif', :class => "redditimage"  %>
				</div>
			</div>
			<div class="large-2 end columns">
				<div class="hp-section">
					<%= image_tag 'hand.gif', :class => "redditimage"  %>
				</div>
			</div>
		</div>
	</div>
</body>

<footer>	
</footer>


</html>