body{
	height: 400px;    
	background: -webkit-gradient(linear, left top, left bottom, from(#996633), to(white), color-stop(0.75, #eee));
}

.hp-section :hover{
	opacity: 0.5;
    filter: alpha(opacity=40);
}

.hp-menu{
	color:white;
	font-size: 75%;
}

.hp-menu:hover{
	opacity: 0.5;
    filter: alpha(opacity=40);
}

.hp-header{
	display:inline;
	font-family: 'Raleway', serif;
	margin-top: 50px;
}

.hp-image{
	display:inline;
}


#headerrow{
	margin-top: 70px;
}

.hp-menu{
	display:inline;
}

/*#topbar{
	background-color: #F0F0F0;
	border-bottom: 1px solid #5f99cf;
	height:21px;

}*/

#menu{
  position: fixed;
  margin-top: 20px;
  background-color: #CFE4F9;
}

.flat-list{
	display: inline-block;
	background-color: #F0F0F0;
	height: 20px;
}

#postbutton{
	font-size: .8em;
	border-radius: 100px;
	padding:.5rem .5rem .5rem .5rem;
	margin-top: 10px;
}

.categories .flat-list li{
	display: inline;
	font-size: 14px;
	font: normal x-small verdana,arial,helvetica,sans-serif;
}

.flat-list li{
	display: inline;
	font-size: 14px;
}

.categories{
	display: inline;
	font: normal x-small verdana,arial,helvetica,sans-serif;
}

#my-subreddits{
	display: inline;
	font-size: 14px;
	margin-left: 15px;
	font: normal x-small verdana,arial,helvetica,sans-serif;
}